
@media screen and (max-width:850px){

   html, body{
        height: auto;
        min-width: 345px;
    }

    #root{
        height: auto;
    }

    .section{
        padding: 1rem;
    }

    .filters-container{
        margin: 0;
        flex-direction: column;
        align-items: flex-start;
        padding: 1rem;
        .search-container{
            margin-bottom: 3rem;
            width: auto;
            margin-right: 1rem;
            margin-left: 1rem;

            input{
                width: auto;
            }
        }
    }

    .countries-container{
        width: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        a{
            max-width: 326px;
        }
    }

    .countrie-container{
        margin-bottom: 1rem;
    }

    .img-container img{
        width: 278px;
    }
}

